<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success">New Meal</button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <a 
      href="#" 
      class="list-group-item clearfix" 
      *ngFor="let meal of meals">
      <div class="pull-left">
        <h4 class="list-group-item-heading">{{ meal.name }}</h4>
        <p class="list-group-item-text">{{ meal.description }}</p>
      </div>
      <span class="pull-right">
        <img [src]="meal.imagePath" alt="{{ meal.name }}" class="img-responsive" style="max-height: 50px;">
      </span>
    </a>
    <app-meal-item></app-meal-item>
  </div> 
</div>
